<div class="container">
    <h2>Receitas / Despesas</h2>
    <form [formGroup]="formReceitaDespesa">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipoConta">Tipo Conta</label>
                    <select class="form-control" id="tipoConta" formControlName="tipoConta">
                        <option value="receita">Receita</option>
                        <option value="despesa">Despesa</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descricao">Descição</label>
                    <input type="text" class="form-control" id="descricao" formControlName="descricao">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="data">Data Pagamento</label>
                    <input type="date" class="form-control" id="data" formControlName="dataPg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="valor">Valor</label>
                    <input type="number" class="form-control" id="valor" formControlName="valor">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
            </div>
        </div>
    </form>
</div>

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tipo Conta</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data Pagamento</th>
                <th scope="col">Valor</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of receitasDespesasArr">
                <td>{{item.tipoConta}}</td>
                <td>{{item.descricao}}</td>
                <td>{{item.dataPg | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.valor | currency:'BRL'}}</td>
                <td>
                    <button type="submit" class="btn btn-primary" (click)="edit(item)" style="margin-right: 10px;">
                        Editar
                    </button>
                    <button type="submit" class="btn btn-danger" (click)="delete(item.id)">
                        Deletar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>